@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96px;
  background-color: #1D192B;
}

.header__title {
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  font-size: 35px;
  font-weight: 700;
  background-color: white;
  padding: 10px 60px;
}
main {
  padding: 0 160px;
  width: 100%;
  /* height: 543px;   */
  height: 74.5vh;  
  display: flex;
  background-color: lightcyan;
}
.main__nav {
  width: 30%;
  min-height: 100%;
  background-color: white;
  display: flex;
  border-right: 1px solid black;
  flex-direction: column;
}
.infoUser {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-content: center;
  /* background-color: #ffc73a; */
}
.avatarUser {
  width: 62px;
  height: 62px;
  border-radius: 100rem;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoUser-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background-color: white;
  padding-left: 15px;
}
.infoUser-nameUser {
  color: #1D192B;
  font-size: 20px;
  font-weight: 600;
}

.infoUser-description {
  font-size: 13px;
  opacity: 0.8;
}

.menu {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  background-color: transparent;
  padding-top: 15px;
}
.menu::before {
  content: "";
  position: absolute;
  background-color: #ffc73a;
  width: 62px;
  height: calc(100% - 15px);
  z-index: -1;
  left: 0;
  top: 15px;
}
.menu__ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  z-index: 3;
}
.menu__li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}
.menu__li a {
  display: flex;
  width: 99%;
  padding: 15px 0;
  position: relative;
}
.menu__li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ffc73a;
  border-radius: 0 5px 5px 0;
  transition: width 0.5s ease;
  z-index: -2;
}
.menu__li a:hover::after {
  width: 99%;
}
.menu__li--active a::after {
  width: 99%;
  box-shadow: 1px 0px 0px black;
}
.menu__li>a>i {
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__title {
  width: calc(100%-62px);
  padding-left: 15px;
  font-weight: 600;
}
.buttonLogOut {
  width: 62px;
  height: 62px;
  background-color: #1D192B;
  color: white;
}
.main__content {
  width: 70%;
  min-height: 100%;

}

footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D192B;
  color: white;
}
footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px;
}
footer ul li {
  font-size: 14px;
}
.content--header{
}
.m_c-headerAbove{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #E4E4E4;
}
.m_c-headerUnder{
  background-color: #E4E4E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  border-bottom: 1px solid black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.m_c-headerUnder ul{
  display:flex;
}
.m_c-headerUnder .headerUnder-filter{
  margin:4px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  padding:10px;
  background-color: #130FEC;
  color: white
}
.m_c-headerUnder ul li{
  margin:4px;
  border-radius:10px;
  padding: 8px;
  background-color: #CCCCCC;
  cursor:pointer;
  font-size: 14px;
}
.content--body{
  height: 348px;
  overflow-y: scroll;
  background-color: #FFD771;
}
.styled-table {
  border-collapse: collapse;
  margin:5px 0 0 0;
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width:95%;
  }

.styled-table thead tr {
  color: #333;
  text-align: left;
}

.styled-table th,
.styled-table td {
  background-color: white;
  padding: 12px 15px;
}

.styled-table tbody{
  overflow: hidden;
}
.styled-table tbody tr {
    background-color: white;
  border-bottom: 1px solid #ddd;
}

.styled-table a {
  color: #3b5998;
  text-decoration: none;
}
.blanket_form{
  position:absolute;
  left:0;
  width:100%;
  z-index:10;
}
.blanket_form .blanket_form--above{
  /* min-height:543px; */
  height: 88vb;
  background-color:rgba(217, 217, 217, 0.8);
  z-index:10;
}
.blanket_form .blanket_form--under{
  position:absolute;  
  width:100%;
  display: flex;
  justify-content: center;
  
}
.blanket_form .blanket_form--under>div{
  position:absolute;  
  bottom:220px;
  border:1px solid  black;
  width:470px;
  padding:20px;
  background-color:white;
}
.blanket_form .blanket_form--under form>div{
  position:absolute;  
  color:black;
  display:flex;
}
.blanket_form .blanket_form--under form>div>div>div{
  border:1px solid black;
  padding:10px;
  border-radius:5px;
  background-color:white;
  margin:10px 10px 0 0;
}
.form__in4--header{
  display:flex;
}
.form__in4--header>div{
  position:relative;
  left: 200px;
  cursor:pointer;
}
.form__contact{
  margin-top: 110px;
  line-height:30px;
}
.form__contact>div{
  display:flex;
}
.contact__team1{
  margin-right:70px;
}
.form__local{
  line-height:30px;
}
.btnJoin>button{
  border-radius:5px;
  border:1px solid black;
  padding:10px;
  background-color: #FFC73A;
}
.btnJoin{
  position:relative;
  top:350px;
  right:1px;
  display:flex;
  justify-content:end;
  width:100%;
}


#table th,
#table td {
  padding: 25px;
}

#table th {
  color: #79747E;
  font-size: 12px;
  font-weight: 600;
}

#table td {
  text-align: center;
  border-top: 2px solid #FFD771;
  color: #1D192B;
  font-size: 12px;
  font-weight: 600;
}

.container-table {
  background: #fff;
}

#table .linkdetail {
  color: #4F378B;
}

.blurEffect {
  filter: blur(5px);
}

.player-match {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}


form textarea {
  padding: 30px;
}

.blurEffect {
  filter: blur(5px);
}

.formcontainer{
display: flex;
gap: 30px;
}
.options-value button{
padding:6px 10px;
border-radius: 8px;
border: 1px solid black;
}
.btn-create{
padding: 10px;
border-radius: 8px;
background: #FFD771;
font-size: 14px;
font-weight: 600;
margin-top: 30px;
color: white;
}
.title-page h1 {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}

.container-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.container-button button {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  background: #CCCCCC;
  font-size: 14px;
  font-weight: 600;
}

.content--header {
  background-color: #E4E4E4;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.m_c-headerAbove {
  text-align: center;
  height: 40px;
}

.container-table {
  background: #fff;
}

.title-page h1 {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}

.container-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.container-button button {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  background: #CCCCCC;
  font-size: 14px;
  font-weight: 600;
}

.popupMatch {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1001; /* Đảm bảo form nằm trên tất cả các phần tử khác */
  display: none;
}
.popupMatchEdit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1001; /* Đảm bảo form nằm trên tất cả các phần tử khác */
}

form textarea {
  padding: 30px;
}

.blurEffect {
  filter: blur(5px);
}

.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
  z-index: 1000; /* Đảm bảo phần nền mờ nằm dưới form nhưng trên các phần tử khác */
  display: none; /* Mặc định ẩn */
}
.formcontainer{
  display: flex;
  gap: 30px;
}
.options-value button{
padding:6px 10px;
border-radius: 8px;
border: 1px solid black;
}
.btn-create{
padding: 10px;
border-radius: 8px;
background: #FFD771;
font-size: 14px;
font-weight: 600;
margin-top: 30px;
color: white;
}

.button-active{
  background: #FFD771;
  color: black;
}