</main>
<footer>
  <ul>
    <li>Trần Thị Hồng Ngọc</li>
    <li>Nguyễn Trần Khắc Duy</li>
    <li>Nguyễn Quốc Thành</li>
    <li>Cao Hoàng Thành</li>
    <li>FB: FourBugs-team</li>
    <li>ZL: Nâng tầm fix bugs</li>
    <li>Liên hệ: 0348378112 (Khắc Duy)</li>
    <li>Giảng viên: Trần Nguyễn Phương Uyên</li>
  </ul>
</footer>
</div>
</body>

</html>