</main>
<footer>
  <ul>
    <li>Trần Thị Hồng Ngọc</li>
    <li>Nguyễn Trần Khắc Duy</li>
    <li>Nguyễn Quốc Thành</li>
    <li>Cao Hoàng Thành</li>
    <li>FB: FourBugs-team</li>
    <li>ZL: Nâng tầm fix bugs</li>
    <li>Liên hệ: 0348378112 (Khắc Duy)</li>
    <li>Giảng viên: Trần Nguyễn Phượng Uyên</li>
  </ul>
</footer>
</div>
</body>
<script>
const currentDate = new Date();
const day = currentDate.getDate();
const month = currentDate.getMonth() + 1;
const year = currentDate.getFullYear();
const daysOfWeek = ["Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"];
const dayOfWeek = daysOfWeek[currentDate.getDay()];
document.getElementById("currentDate").innerHTML = `${dayOfWeek}, Ngày ${day} Tháng ${month} Năm ${year}`;
</script>
</html>