<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" sizes="96x96" href="./favicon_io/favicon.ico">
  <title>FOUR BUG TEAM</title>
  <link rel="stylesheet" href="/css/input.css">
  <link rel="stylesheet" href="/css/output.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="container" id="contentContainer">
    <header>
      <h1 class="header__title">FOUR BUGS TEAM</h1>
    </header>
    <main>
      <section class="main__nav">
        <div class="infoUser">
          <div class="avatarUser">
            <img class="avatar"
              src="https://cdn.dribbble.com/users/2400293/screenshots/14743996/media/84ff2a3e9945913dda969bd4f25169cd.gif"
              alt="">
          </div>
          <div class="infoUser-content">
            <span class="infoUser-nameUser">
              Nguyễn Quốc Thành
            </span>
            <span class="infoUser-description">
              Thông tin bạn cần bên dưới.
            </span>
          </div>
        </div>
        <nav class="menu">
          <ul class="menu__ul">
            <li class="menu__li <%= currentUrl === '/' ? 'menu__li--active' : '' %>"><a href="/">
                <i class="fa-solid fa-table"></i>
                <span class="menu__title">Bảng thi đấu</span>
              </a></li>
            <li class="menu__li <%= currentUrl === '/info' ? 'menu__li--active' : '' %>"><a href="/info">
                <i class="fa-solid fa-user"></i>
                <span class="menu__title">Thông tin</span>
              </a></li>
            <li class="menu__li <%= currentUrl === '/history' ? 'menu__li--active' : '' %>"><a href="/history">
                <i class="fa-solid fa-bars"></i>
                <span class="menu__title">Lịch thi đấu</span>
              </a></li>
            <li class="menu__li <%= currentUrl === '/createMatch' ? 'menu__li--active' : '' %>"><a href="/createMatch">
                <i class="fa-solid fa-plus"></i>
                <span class="menu__title">Tạo bản đấu</span>
              </a></li>
          </ul>
        </nav>
        <button class="buttonLogOut">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </section>